<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bignerdranch.android.recycolumbus">

    <application
        android:allowBackup="true"
        android:icon="@drawable/recycle_symbol"
        android:label="@string/app_name"
        android:roundIcon="@drawable/recycle_symbol"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".InformationActivity"
            android:label="@string/title_activity_information" />
        <activity
            android:name=".BarcodeActivity"
            android:label="@string/title_activity_barcode"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"></activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDs50dGxqJjJ7hQPsdfo-vy3sF0TgKtGXs"/>
    </application>

</manifest>